body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
}
h1{
    color: blue;
}
form{
   background-color: white;
   text-align: center;
   max-width: 400px;
   margin: auto;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

}
#myinput{
    width: 50%; 
    text-align: center;
    font-size: 2em;
    border: 2px solid;
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 2em;
    font-weight: bold;

}
button{
    margin-top: 15px;
    background-color: rgb(67, 43, 226);
    border: none;
    font-size: 2em;
    padding: 10px 15px; 
    border-radius: 5px;
    color: white;
}
#myRes{
    font-size: 2em;
    font-weight: bold;
}