body{
    margin: 20px;
    background-color: rgb(100, 2, 2);
    font-family: verdana;
    
    color: rgb(42, 108, 165);

}
#mycntr{
    font-size: 10em;
    display: block;
    text-align: center;
    font-family:  Helvetica, sans-serif;
}
#btn{
    text-align: center;
}
.btn{
    padding:  10px 20px;
    border-radius: 5px;
    background-color: rgb(0, 179, 255);
    cursor: pointer;
    color: greenyellow;
}
